baseflow
cdsapi
cligj
dask
easymore
fiona
geopandas
hs_restclient
jupyter
matplotlib
munch
netcdf4
numpy
openpyxl
packaging
pandas
py7zr
pyshp
pysheds
rasterstats
requests
rtree
seaborn
shapely
six
xarray