affine==2.3.1+computecanada
anyio==3.7.1+computecanada
arff==0.9+computecanada
argon2_cffi==23.1.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
asttokens==2.2.1+computecanada
async_generator==1.10+computecanada
attrs==23.1.0+computecanada
backcall==0.2.0+computecanada
backports-abc==0.5+computecanada
backports.shutil_get_terminal_size==1.0.0+computecanada
baseflow==0.0.8
bcrypt==4.0.1+computecanada
beautifulsoup4==4.12.2+computecanada
bitarray==2.8.1+computecanada
bitstring==4.1.1+computecanada
bleach==6.0.0+computecanada
bs4==0.0.1+computecanada
Cartopy==0.20.2+computecanada
cdsapi==0.2.4
certifi==2023.7.22+computecanada
cffi==1.15.1+computecanada
cfgrib==0.9.10.1
cftime==1.6.0+computecanada
chardet==5.2.0+computecanada
charset_normalizer==3.2.0+computecanada
click==8.1.2
click-plugins==1.1.1+computecanada
cligj==0.7.2+computecanada
cloudpickle==2.0.0+computecanada
comm==0.1.4+computecanada
contourpy==1.1.0+computecanada
cryptography==39.0.1+computecanada
cycler==0.11.0+computecanada
Cython==0.29.36+computecanada
dask==2022.4.0+computecanada
DateTime==4.4+computecanada
deap==1.4.1+computecanada
debugpy==1.6.7.post1+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
dnspython==2.4.2+computecanada
easymore==1.0.0+computecanada
eccodes==1.4.1
ecdsa==0.18.0+computecanada
entrypoints==0.4+computecanada
exceptiongroup==1.1.3+computecanada
executing==1.2.0+computecanada
fastjsonschema==2.18.0+computecanada
findlibs==0.0.2
Fiona==1.8.21+computecanada
fonttools==4.42.1+computecanada
fsspec==2022.3.0+computecanada
funcsigs==1.0.2+computecanada
geojson==2.5.0+computecanada
geopandas==0.10.2+computecanada
geovoronoi==0.4.0+computecanada
idna==3.4+computecanada
imageio==2.16.2+computecanada
importlib_metadata==6.8.0+computecanada
importlib_resources==6.0.1+computecanada
ipykernel==6.25.1+computecanada
ipython==8.15.0+computecanada
ipython_genutils==0.2.0+computecanada
ipywidgets==7.6.5+computecanada
jedi==0.19.0+computecanada
Jinja2==3.1.2+computecanada
json5==0.9.6+computecanada
jsonschema==4.19.0+computecanada
jsonschema_specifications==2023.7.1+computecanada
jupyter_client==8.3.1+computecanada
jupyter_core==5.3.1+computecanada
jupyterlab_pygments==0.1.2+computecanada
jupyterlab_widgets==1.0.2+computecanada
kiwisolver==1.4.5+computecanada
llvmlite==0.38.0+computecanada
locket==0.2.1+computecanada
lockfile==0.12.2+computecanada
MarkupSafe==2.1.3+computecanada
matplotlib==3.7.2+computecanada
matplotlib_inline==0.1.6+computecanada
mistune==3.0.1+computecanada
mock==5.1.0+computecanada
mpi4py @ file:///tmp/ebuser/avx2/mpi4py/3.0.3/gompi-2020a/mpi4py-3.0.3
mpmath==1.3.0+computecanada
munch==2.5.0+computecanada
nbclient==0.5.10+computecanada
nbconvert==6.4.2+computecanada
nbformat==5.1.3+computecanada
nest_asyncio==1.5.7+computecanada
netaddr==0.8.0+computecanada
netCDF4==1.5.8+computecanada
netifaces==0.11.0+computecanada
networkx==2.8+computecanada
nose==1.3.7+computecanada
notebook==6.4.8+computecanada
numba==0.55.2+computecanada
numpy==1.25.2+computecanada
packaging==23.1+computecanada
pandas==2.1.0+computecanada
pandocfilters==1.5.0+computecanada
paramiko==3.3.1+computecanada
parso==0.8.3+computecanada
partd==1.2.0+computecanada
path==16.7.1+computecanada
path.py==12.5.0+computecanada
pathlib2==2.3.7.post1+computecanada
paycheck==1.0.2+computecanada
pbr==5.11.1+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==10.0.0+computecanada
pkgutil_resolve_name==1.3.10+computecanada
platformdirs==2.6.2+computecanada
prometheus_client==0.17.1+computecanada
prompt_toolkit==3.0.39+computecanada
psutil==5.9.5+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pycparser==2.21+computecanada
pygdal==3.4.1.10
Pygments==2.16.1+computecanada
PyNaCl==1.5.0+computecanada
pyparsing==3.0.9+computecanada
pyproj==3.3.0
pyrsistent==0.19.3+computecanada
pysheds==0.3.3+computecanada
pyshp==2.2.0+computecanada
python-dateutil==2.8.2+computecanada
python_json_logger==2.0.7+computecanada
pytz==2023.3+computecanada
PyWavelets==1.3.0+computecanada
PyYAML==6.0.1+computecanada
pyzmq==25.1.1+computecanada
rasterio==1.3a3+computecanada
rasterstats==0.19.0+computecanada
referencing==0.30.2+computecanada
requests==2.31.0+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rioxarray==0.10.3+computecanada
rpds_py==0.10.0+computecanada
Rtree==1.0.1+computecanada
scikit_image==0.18.2+computecanada
scipy==1.11.2+computecanada
Send2Trash==1.8.2+computecanada
shapely==2.0.1+computecanada
simplegeneric==0.8.1+computecanada
simplejson==3.19.2+computecanada
singledispatch==4.1.0+computecanada
six==1.16.0+computecanada
sniffio==1.3.0+computecanada
snuggs==1.4.7+computecanada
soupsieve==2.5+computecanada
stack_data==0.6.2+computecanada
sympy==1.12+computecanada
terminado==0.17.1+computecanada
testpath==0.6.0+computecanada
tifffile==2022.4.8+computecanada
tinycss2==1.2.1+computecanada
toolz==0.11.2+computecanada
tornado==6.3.3+computecanada
tqdm==4.66.1+computecanada
traitlets==5.9.0+computecanada
typing_extensions==4.7.1+computecanada
tzdata==2023.3+computecanada
urllib3==2.0.4+computecanada
wcwidth==0.2.6+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.6.2+computecanada
widgetsnbextension==3.5.2+computecanada
xarray==2022.3.0+computecanada
zipp==3.16.2+computecanada
zope.interface==5.4.0+computecanada
